.Rproj.user
.Rhistory
.RData
.Ruserdata
data/raw/resourceMap_MLPA_kelpforest_9/data/MLPA_kelpfores_fish.6.csv
data/raw/resourceMap_MLPA_kelpforest_9/data/MLPA_kelpforest_swath.7.csv
data/raw/resourceMap_MLPA_kelpforest_9/data/MLPA_kelpforest_upc.6.csv
*.DS_Store
